* {
  background-color: black;
  text-align: center;
  color: lightblue
}

body {

  color: white;
  font: 1rem Inconsolata, monospace;
  text-shadow: 0 0 5px #C8C8C8;
}

.wrapper {
  padding: 5px 20px;
}

.wrapper fieldset {
  margin: 20px 0;
  text-align: left;
}

.shelf {
  margin: 10px;
  padding: 10px;
  text-align: left;
}

input {
  background-color: transparent;
  border-bottom: 2px solid green;
}

form {
  background-color: transparent;
  text-align: center;
  align-items: center;
}

fieldset {
  border: none;
  padding: 20px;
}

h3 {
  margin: 0;
  padding: 0;
}

table {
  text-align: center;
  border: 1px solid green;
  border-collapse: collapse;
  width: 100%;
}

table td {
  border: 1px solid green;
  text-align: center;
  height: 2em;
}

table td.shrink {
  white-space: nowrap
}

table td.expand {
  width: 99%
}

label,
input {
  display: inline;
}

label {
  margin: 20px;
}

.wrapper span {
  font-size: 32px;
}

.shelf h3 {
  font-size: 20px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.neonText {
  color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
}