* {
  background-color: lightblue;
  text-align: center;
}

.wrapper {
  padding: 5px 20px;
  border: 10px solid darkblue;
}

.wrapper fieldset {
  margin: 20px 0;
  //text-align: left;
}

.shelf {
  text-align: left;
  display: flexbox;
  background-color: blue;
}

form {

  display: flexbox;
  flex-direction: row;
}